.woocommerce-cart {

	.main {

		.main-col {
			@media only screen and (max-width: 991px) {
				width: 100%;
			}
		}

		.sidebar {
			display: none;
			@media @md {
				display: block;
			}
		}

	}


	.button.wc-backward {
		.border-radius(0);
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
	}

	table.cart {
		margin: 0;

		th {
			padding-top: 0;
			padding-bottom: 0;
		}

		td {
			padding: 5px 10px 0;
			vertical-align: middle;
			@media @sm {
				padding: 1.618em;
			}
		}

		.cart_item {
			border-bottom: 1px solid @green;
		}

		// td.product-subtotal {
		// 	padding: .875em .875em 0;
		// 	@media @sm {
		// 		padding: 1.618em;
		// 	}
		// }

		td.product-subtotal {
			padding-bottom: 20px;
		}

		td.product-thumbnail {
		}

		td.product-remove {
			border: none;
			@media only screen and (max-width: 767px) {
				padding-top: 15px;
			}

			a.remove {
				right: 0;
				top: 20px;
				@media @sm {
					right: auto;
					top: auto;
				}
			}

			@media only screen and (max-width: 767px) {
			}
		}

		.product-thumbnail {
			padding-bottom: 15px;
			@media @sm {
				padding-bottom: 1.618em;
			}

			img {
				margin-left: 0;
				margin-right: 0;
				@media @sm {
					margin-left: auto;
					margin-right: auto;
				}
			}

		}

		td.product-quantity {

			.quantity {
				float: right;
				width: 25%;
				@media @sm {
					float: none;
					width: auto;
				}
			}

			.qty {				
				background: none !important;
				border: 1px solid @body-colour;
				height: 30px;
				line-height: 30px;
				max-width: none;
				// margin: -5px 0 0;
				padding: 0;
				text-align: center;
				width: 95%;
				@media @lg {
					text-indent: 15px;
				}
			}

		}

		td.actions {
			border-top: 2px solid @green;
			padding-top: 20px;
			padding-left: 0;
			padding-right: 0;
			
			.coupon {
				margin: 0 0 15px;
				padding: 0 0 10px;

				input[type="text"] {
					float: left;
					margin-right: 5px;
					height: 40px;
				}

			}

			.button {
				.border-radius(0);
				height: 40px;
				line-height: 40px;
				padding: 0 20px;
			}

		}
		
	}

	.cart-collaterals {
		border-top: 1px solid @green;
		padding-top: 20px;
		@media @sm {
			padding-top: 50px;
		}

		.cart_totals {

			h2 {
				margin-bottom: 10px;
			}

			th, td {
				padding-left: 0;
			}

			.shipping {

				.woocommerce-shipping-calculator {
					display: none;
				}

			}

			.order-total {
				font-size: 18px;
			}

			.checkout-button {
				.border-radius(0);
				background: @green;
				padding: 10px 0 13px;

				&:hover {
					background: #333;
				}

				&:after {
					font-size: 24px;
					top: 4px;
					position: relative;
					@media @sm {
						font-size: 28px;
					}
				}

			}

		}

	}

}