.woocommerce-checkout {

	.woocommerce-billing-fields {

		h3 {
			margin-bottom: 15px;
		}

	}

	label {
		display: inline-block;
		font-size: 16px;
		margin-bottom: 5px;

		&.checkbox {

		}

	}

	#ship-to-different-address label {
		font-size: 20px;
		margin-right: 10px;
	}

	.checkout_coupon {
		
		.button {
			.border-radius(0);
			height: 40px;
			line-height: 40px;
			padding: 0 20px; 
		}

	}

	.address-field {
		
		strong {
			display: block;
			font-size: 16px;
			margin-top: 5px;
		}

	}

	#ship-to-different-address {
		margin-bottom: 10px;
	}

	.notes {

		label {
			margin-bottom: 10px;
		}

		textarea {
			height: 150px;
		}

	}

	#order_review_heading {
		margin-top: 40px;
		@media @sm {
			margin-top: 0;
		}
	}

	.payment-fixed {
		padding: 0 20px 20px;
	}

	.woocommerce-checkout-review-order-table {

		th, td {
			padding-left: 0;
		}

		td {
			width: 50%;
		}

		.shipping {

			p {
				font-size: 14px;
				line-height: 20px;
			}

		}

	}
	
	#payment {

		.payment_methods>.wc_payment_method>label {
			padding: 0;
		}

		.payment_methods li .payment_box {
			padding: 10px 0 30px;
		}

		.place-order {
			padding: 0;
		}

		.button {
			.border-radius(0);
			background: @green;
			padding: 10px 0 13px;

			&:hover {
				background: #333;
			}

			&:after {
				font-size: 24px;
				top: 4px;
				position: relative;
				@media @sm {
					font-size: 28px;
				}
			}

		}

	}

	// Thank You

	.thank-you {

		.tel {
			color: @body-colour !important;
			cursor: text;
		}

		.fa {
			font-size: 22px;
			margin-right: 15px;
		}

		.thank-you-img {
			display: block;
			height: auto;
			margin-top: 25px;
			width: 100%;
			@media @md {
				margin-top: 0;
			}
		}

		.popular-products {
			padding-top: 35px;

			h2 {
				font-weight: @strong;
				margin-bottom: 10px;
			}

		}

	}

}