.woocommerce-order-received {

	.hero {
		background-image: url('/wp-content/uploads/2017/01/thankyou-header.jpg') !important;
	}

	.main {

		.woocommerce-thankyou-order-details.order_details {
			border-bottom: 1px solid #e5e5e5;
			margin: 0 0 50px;
			padding-bottom: 20px;

			li {
				font-size: 16px;
				margin: 0 0 10px;
				padding: 0;


				strong {
					display: inline-block;
					font-size: 16px;
					margin-left: 5px;
				}

			}
			
		}

	}

	.shop_table.order_details,
	.shop_table.customer_details {
		margin-top: 15px;

		thead {
			
			th, td {
				border-bottom: 2px solid #e5e5e5;
			}

		}

		tfoot {

			tr:first-child th, tr:first-child td {
				border-top: 2px solid #e5e5e5;
			}

		}
		
		th, td {
			border-bottom: 1px solid #e5e5e5;
			padding: 10px 0;
		}

	}

	.addresses {
		margin-top: 40px;
		
		h3 {
			font-weight: @medium;
			margin-bottom: 20px;
		}

	}

}