#child-category {

	.view-all {
		padding: 20px 0 0;
		@media @sm {
			padding: 40px 0 30px;
		}

		h3 {
			display: inline-block;
			@media @md {
				width: 50%;
			}
			@media @lg {
				width: auto;
			}
		}

		.btn {
			.border-radius(0);
			display: block;
			margin: 15px 0;
			padding: 10px 0;
			@media @md {
				display: inline-block;
				margin: 0 0 0 15px;
				padding: 5px 7px;
				position: relative;
				top: -3px;
			}
		}

	}

	

	// products

}