.page-template-template-contact {

	.main-col {
		
		.gform_wrapper {
			margin: 10px 0 0;

			.gform_body {
				width: 100%;
			
				ul {
					
					li {
						margin: 0 0 12px !important;
						padding: 0 !important;
						max-width: none !important;

						.ginput_container {
							margin: 0;
						}

						label {
							display: none;
						}

						input, textarea {
							background-color: #989897 !important;
							border: none !important;
							color: #fff;
							font-size: 14px !important;
							height: 30px;
							line-height: 30px;
							margin: 0 0 10px !important;
							padding: 0 10px !important;
							width: 100% !important;
							@media @sm {							
								font-size: 12px !important;
							}

							&::-webkit-input-placeholder {
								color: #fff;
							}
							&::-moz-placeholder {
								color: #fff;
							}
							&:-ms-input-placeholder {
								color: #fff;
							}
							&:-moz-placeholder {
								color: #fff;
							}
						}

						&.question {

							textarea {
								height: 105px;
								padding-top: 10px !important;
								padding-bottom: 10px !important;
							}

						}

						&.gfield_error {

							input, textarea {
								background-color: @error-colour !important;
							}

							.gfield_description {
								color: @error-colour;
								font-size: 12px;
								font-weight: @medium;
								margin-top: -12px;
							}

						}

					}


				}

			}

			.gform_footer {
				margin: 0;
				padding: 0;

				.gform_button {
					.border-radius(0);
					float: right;
					font-size: 15px !important;
					font-size: 15px;
					margin: 0  !important;
					outline: none;
					padding: 5px 0  !important;
					width: 95px !important;
					@media @sm {
						font-size: 19px !important;
					}
				}

			}

		}

		.gform_confirmation_wrapper {
			padding-top: 15px;
		}

	}

	#map {
		height: 300px;
		margin: 40px -15px 60px;
		position: relative;
		@media @sm {
			margin: 40px 0 0;
		}
		@media @md {
			height: 360px;
		}

		iframe {
			height: 100%;
			width: 100%;
		}

	}

}