.home {
	
	// Hero
	.hero {
		overflow: hidden;
		
		> .container {
			// background: @dark-grey;
			height: 630px;
			
			@media @sm {
				height: 550px;
			}

		}

		.owl-carousel {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;			
			width: 100%;

			.item {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				height: 620px;
				position: relative;
				top: 0;
				width: 100%;
				@media @sm {
					height: 550px;
				}

				.container {
					height: 100%;
				}
				
				.panel {		
					background: @dark-grey;
					color: #fff;
					bottom: 0;
					height: 180px;
					margin-top: 20px;
					padding: 20px 10px;
					left: 0;
					position: absolute;
					text-align: center;
					right: 0;
					@media @sm {
						.vertical-align;
						background: rgba(0,0,0,.5);
						bottom: auto;
						height: auto;
						left: auto;						
						margin-top: 0;
						padding: 40px;
						position: relative;
						text-align: left;
						right: auto;
						width: 50%;
					}

					h2 {
						color: #fff;
						font-size: 32px;
						line-height: 36px;
						margin-bottom: 10px;
						@media @sm {
							font-size: 40px;
							line-height: 46px;
							margin-bottom: 20px;
						}
					}

					p {
						font-size: 16px;
						line-height: 20px;
						margin: 0;
						@media @sm {
							font-size: 20px;
							line-height: 26px;
						}
					}

				}

			}

		}

		.owlnav {
			display: none;
			@media only screen and (min-width: 1023px) {
				display: block;
				margin-top: -16px;
				padding-left: 10px;
				padding-right: 10px;
				position: absolute;
				top: 50%;
				width: 100%;
			}

			.container {
				position: relative;
				z-index: 2;
			}

			.prev,
			.next {
				.opacity(50);
				.transition;
				cursor: pointer;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;

				&:hover {
					.opacity(100);
				}

			}

			.prev {
				float: left;
				border-width: 16px 16px 16px 0;
				border-color: transparent #ffffff transparent transparent;
				margin-left: -26px;
				@media @lg {
					margin-left: -36px;
				}
			}

			.next {
				float: right;
				border-width: 16px 0 16px 16px;
				border-color: transparent transparent transparent #ffffff;
				margin-right: -26px;
				@media @lg {
					margin-right: -36px;
				}
			}

		}

	}
	

	// Category List
	.category-list {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	
}