.woocommerce-account {

	.main {

		.main-col {
			@media only screen and (max-width: 1280px) {
				width: 100%;
			}
		}

		.sidebar {
			display: none;
			@media @lg {
				display: block;
			}
		}

	}


	// Login & Register

	.login,
	.register {
		margin: 20px 0 0;
		padding: 0;

		label {
			font-size: 14px;
			margin-bottom: 5px;
			@media @sm {
				font-size: 16px;
			}
		}

		.button {
			.border-radius(0);
			height: 40px;
			line-height: 40px;
			margin-bottom: 15px;
			padding: 0 20px;
			width: 100%;
			@media @sm {
				width: auto;
			}
		}

		label[for=rememberme] {
			font-size: 14px;
			margin: 0;
			font-weight: normal;

			input {
				margin-right: 5px;
				position: relative;
				top: 2px;
			}

		}

		.woocommerce-LostPassword.lost_password {
			clear: left;
			font-size: 16px;
			margin: 20px 0 40px;
		}

	}

	// Lost Password

	&.woocommerce-lost-password {

		label {
			font-size: 16px;
			margin-bottom: 5px;
		}

		.button {
			.border-radius(0);
			height: 40px;
			line-height: 40px;
			margin-bottom: 15px;
			padding: 0 20px;
			width: 100%;
			@media @sm {
				width: auto;
			}
		}

	}


	.woocommerce-MyAccount-navigation {
		padding-bottom: 20px;
		@media @sm {
			margin: 0;
			padding: 0 50px 0 0;
			width: 33.333333%;
		}
		@media @md {
			padding-right: 40px;
			width: 35%;
		}
		@media @lg {
			padding-right: 50px;
			width: 25%;
		}
		@media @xlg {
		}

		ul {

			li {
				margin: 0;
				@media @sm {
					font-size: 16px;
				}
				@media @lg {
					font-size: 14px;
				}

				a:before {
					position: relative;
					top: 5px;
				}

			}

		}

	}

	.woocommerce-MyAccount-content {
		@media @sm {
			margin: 0;
			width: 66.666666%;
		}
		@media @md {
			width: 65%;
		}
		@media @lg {
			width: 75%;
		}
	}


	th, td {
		font-size: 14px;
		line-height: 1;
		padding: 15px 10px;
		vertical-align: middle;
		@media @sm {
			padding: 10px;
		}
	}


	// Orders

	.woocommerce-MyAccount-orders {

		th {
			padding-bottom: 5px;
		}

		tr:nth-child(odd) td {
			background: #eee;
		}

	}


	// Order Details

	mark {
		background: none;
		color: @body-colour;
	}

	.shop_table.order_details,
	.shop_table.customer_details {
		margin: 10px 0 30px;

		thead {
			
			th, td {
				border-bottom: 2px solid #e5e5e5;
			}

		}

		tfoot {

			tr:first-child th, tr:first-child td {
				border-top: 2px solid #e5e5e5;
			}

		}
		
		th, td {
			border-bottom: 1px solid #e5e5e5;
			padding: 10px 10px 10px 0;

			small {
				display: block;
			}

		}

	}

	.addresses {
		
		h3 {
			font-weight: @medium;
			margin-bottom: 20px;
		}

	}

	// Addresses

	&.woocommerce-edit-address {

		.edit {
			float: right;
			font-weight: @medium;
		}

		.woocommerce-Address {

			h3 {
				font-size: 20px;
			}

		}

		.u-column1.col-1.woocommerce-Address {
			margin-bottom: 30px;
			@media @sm {
				margin-bottom: 0;
			}
		}

	}


	// Addresses - Edit

	&.woocommerce-edit-address {

		h3 {
			margin-bottom: 10px;
		}

		label {
			font-size: 14px;
			margin-bottom: 5px;
		}

		.address-field strong {
			display: block;
			font-size: 14px;
			margin-top: -5px;			
		}

		.button {
			.border-radius(0);
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
			width: 100%;
			@media @sm {
				width: auto;
			}
		}

	}


	// Account Details - Edit

	&.woocommerce-edit-account {

		h3 {
			margin-bottom: 10px;
		}

		label {
			font-size: 14px;
			margin-bottom: 5px;
		}

		fieldset {
			border: none;
			margin: 0;
			padding: 20px 0 0;

			legend {
				font-size: 18px;
				float: left;
				font-weight: @medium;
				line-height: 1;
				margin: 0 0 15px;
			}

			label {
			}

		}

		.button {
			.border-radius(0);
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
			width: 100%;
			@media @sm {
				width: auto;
			}
		}

	}

}