#parent-category {
	padding-bottom: 0;

	.category-list {

		li {
			position: relative;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}

			.thumbnail {
				@media only screen and (max-width: 767px) {
					height: 130px;
					width: 70%;
				}
			}
			
			.description {
				font-size: 14px;
				line-height: 18px;
				@media @sm {
					height: 100px;
				}
				@media @md {
					height: 135px;
				}
				@media @lg {
					height: 90px;
				}

			}

			.btn {
				@media only screen and (max-width: 767px) {
					font-size: 13px;
					height: 130px;
					padding: 55px 0 0;
					position: absolute;
					top: 10px;
					right: 10px;
					width: 25%;
				}
			}

		}

	}

}