.single-product {

	.hero {
		display: none;
		@media @sm {
			display: block;
		}
	}

	.main {

		.main-col {
			margin-top: -10px;
		}

		.sidebar {

			.mini-cart {
				margin-bottom: 40px;
				@media @sm {
					margin-bottom: 60px;
				}

				 h2 {
					border-bottom: 1px solid #d1d1d1;
					font-size: 24px;
					padding-bottom: 15px;
				}

				.cart_list.product_list_widget {

					.empty {
						padding-top: 20px;
					}

					.mini_cart_item {
						font-size: 16px;
						margin: 0;
						padding-left: 25px;

						a {
							font-weight: normal;
						}

						.remove {
							margin-left: -25px;
							position: relative;
							float: left;
							@media @sm {
								top: 4px;
							}
						}

						.quantity {
							display: block;
							margin-top: -5px;
						}

					}

				}

				.total {
					border-bottom: 1px solid #d1d1d1;
					font-size: 20px;
					line-height: 1;
					margin: 0 0 30px;
					padding: 15px 0 30px;
					text-align: center;
				}

				.buttons {
					margin: 0;
				}

				.button {
					.border-radius(0);
					display: block;
					font-size: 18px;
					margin-bottom: 10px;
					padding: 8px 0 10px 0;
					width: 100%;
					@media @sm {
						font-size: 22px;
						padding: 18px 0;
					}

					&:after {
						font-size: 24px;
						top: 3px;
						position: relative;
						@media @sm {
							font-size: 28px;
						}
					}

					&.checkout {
						background: #333;
				        color: #fff;
				        margin-bottom: 0;

				        &:hover {
				            background: @green;
				        }

					}

				}

			}

			#battery-lookup {
				display: none;
				@media @sm {
					display: block;
				}
			}

		}

	}

	div.product {
		border-top: 1px solid #d1d1d1;
		padding-top: 25px;
		@media @sm {
			padding-top: 40px;
		}
		@media @md {
			padding-top: 60px;
		}

		div.summary {
			&:extend(.cf all);
			float: none;
			margin: 0 0 20px;
			padding: 0;
			width: 100%;
			@media @sm {
				margin-bottom: 40px;
			}

			h1 {
				margin: 0;
				@media @md {
					float: left;
					width: 50%;
				}
			}

		}

		.woocommerce-product-rating {
			display: block;
			font-size: 12px;
			margin: 0 0 25px;
			text-align: center;
			@media @sm {
				float: left;
				font-size: 16px;
				margin: 0;
				padding-top: 10px;
				text-align: left;				
			}
			@media @md {
				padding-top: 20px;
				width: 50%;
			}

			.star-rating {
				display: inline-block;
				float: none;
			}
			
		}

		.onsale {
			display: none;
		}

		.images {
			margin: 0 0 30px;
			padding: 0;
			width: 100%;
			@media @sm {
				margin-bottom: 0;
			}

			img {
				display: block;
				margin: 0 auto;
			}
		}

		.price {
			display: inline-block;
			font-size: 24px;
			font-weight: @strong;
			line-height: 1;
			margin: 0;			
			@media @sm {
				// font-size: 24px;
			}
			@media @md {
				font-size: 32px;
			}
		}

		.price-stock {
			text-align: center;
			@media @sm {
				padding: 0;
				text-align: left;
			}
		}

		div[itemprop="offers"] {
			display: inline-block;
			margin: 0 5px 0 0;			
			@media @sm {
				margin-right: 10px;
			}
		}

		.stock { 
			display: inline-block;
			font-size: 16px;
			line-height: 1;
			margin: 0;
			@media @sm {
				display: block;
				font-size: 18px;
			}
			@media @md {
				display: inline-block;
			}

			&:before {
				display: none;
			}

		}

		.in-stock {
			color: #92BF1F;
		}

		.delivery {
			font-size: 16px;
			line-height: 1;
			margin: 15px 0 0;
			text-align: center;
			@media @sm {
				text-align: left;
			}
			@media @md {
				font-size: 20px;
			}
		}

		form.cart {
			margin: 0;
			padding: 50px 0;
			text-align: center;
			@media @md {
				padding: 85px 0;
			}

			.quantity {
				display: inline-block;
				float: none;
				position: relative;
				top: 3px;
				@media @sm {
					display: block;
					float: left;
					top: auto;
				}
				
				input {
					.border-radius(0);
					box-shadow: none;
					font-size: 16px;
					height: 35px;
					margin: 0;
					padding: 0;
					text-indent: 15px;
					width: 65px;
					@media @md {
						font-size: 20px;
						height: 50px;
						width: 90px;
					}
				}

			}

			.button {
				&:extend(.btn all);
				.border-radius(0);
				font-size: 14px;
				float: none;
				height: 35px;
				line-height: 35px;
				margin: 0 0 0 5px;
				padding: 0 25px;
				@media @sm {
					float: left;
					padding: 0 15px;
				}
				@media @md {					
					font-size: 17px;
					height: 50px;
					line-height: 50px;
					margin-left: 15px;
					padding: 0 25px;
				}
			}

		}

		.product_meta {
			border: none;
			font-size: 15px;
			font-weight: @strong;
			line-height: 21px;
			margin: 0;
			padding: 0;
			text-align: center;
			@media @sm {
				font-size: 16px;
				line-height: 22px;
				text-align: left;
			}
			@media @md {
				font-size: 20px;
				line-height: 26px;
			}

			.sku_wrapper {
				display: none;
			}

			a {
				font-weight: normal;
			}

		}

		.woocommerce-tabs {
			margin: 0;
			padding: 30px 0 0;
			@media  @sm {
				padding-top: 75px;
			}

			h2 {
				font-size: 18px;
				font-weight: @medium;
				line-height: 24px;
				@media @sm {
					font-size: 23px;
					line-height: 30px;
				}
			}

			.wc-tabs {
				border: none;
				float: none;
				margin: 0;
				padding: 0;
				width: 100%;
				@media @sm {
					margin-bottom: -1px;

				}

				li {
					border-bottom: 4px solid #ececec;
					display: inline-block;
					font-size: 18px;
					line-height: 1;
					padding-left: 10px;
					width: 100%;
					@media @sm {
						background: #333;
						border: none;
						font-size: 18px;
						margin-right: 5px;
						padding-left: 0;
						text-align: center;
						width: 160px;
					}
					@media @md {
						font-size: 24px;
						width: 200px;
					}

					&:last-child {
						border: none;
					}

					&.active {
						background: none;
						@media @sm {
							border: 1px solid #a3a3a3;
							border-bottom-color: #fff;
						}

						a {
							color: @body-colour;
						}

					}

					&:after {
						display: none;
					}

					a {
						color: @green;
						font-weight: @strong;
						margin: 0;
						padding: 15px 0;
						@media @sm {
							color: #fff;
						}
					}

				}

			}

			.wc-tab {
				float: none;
				margin: 0;
				outline: none !important;
				padding: 20px 10px;
				width: 100%;
				@media @sm {
					border: 1px solid #a3a3a3;
					padding: 25px;
				}

				&#tab-additional_information {
					font-size: 18px;
					font-weight: normal;
					margin: 0 0 15px;
					@media @sm {
						border: 1px solid #a3a3a3;
						padding: 25px 0 25px 50px;
					}
					@media @md {
						// padding-left: 125px;
						padding-left: 75px;
					}
					@media @lg {
						padding-left: 170px;
					}

					h2 {
						@media @sm {
							display: none;
						}
					}
					
				}

				.shop_attributes {
					margin: 0;
					padding: 0;

					th, td, p {
						font-size: 18px;
						font-weight: normal;
						line-height: 1;
						margin: 0;
						@media @sm {
							
						}
						@media @md {
							font-size: 22px;
						}
					}

					th {
						padding: 7px 10px;
					}

					td {
						padding: 7px 20px;
					}

					th, td {
						@media @sm {
							padding: 0 0 5px 0;
						}
					}

					th {
						background: #f2f2f2;
						@media @sm {
							background: none;
						}
					}

					tr:first-child th,
					tr:first-child td {
						padding-top: 14px;
					}

					tr:last-child th,
					tr:last-child td {
						padding-bottom: 14px;
					}

					.terminal-diagram {
						height: auto;
						max-width: 100%;
						width: 200px;
					}

				}

			}

			// Reviews
			.woocommerce-Tabs-panel--reviews {

				#reviews {

					.woocommerce-Reviews-title {
						font-size: 20px;
						margin: 0 0 30px;
					}

					.commentlist {
						margin: 0 0 40px;
						padding: 0;

						li {

							.avatar {
								margin-bottom: 35px;
								@media @sm {
									margin-bottom: 25px;
								}

							}

							.description {
								margin-top: 5px;
							}

						}

					}

					.commentlist li .comment_container,
					#respond {
						padding: 0;
					}

					#respond {
						background: none;
						border-top: 1px solid #a3a3a3;
						padding-top: 25px;
					}

					.comment-reply-title {
						margin-bottom: 15px;
					}

					.comment-form-rating label {
						float: left;
					}

					.commentlist li {
						margin-bottom: 25px;

						p.meta {
							margin-top: 7px;
						}

					}

					p.stars {
						margin: 2px 0 0 15px;

						&.selected a:not(.active):before,
						&.selected a.active:before,
						&:hover a:before {
							color: @green;
						}

					}

					.comment-form-comment {

						#comment {
							height: 200px;
							margin-top: 5px !important;

							&.error {
								border: 1px solid #333;
								background: @error-colour !important;
								color: #fff;
							}

						}

						.error {
							color: @error-colour;
							font-size: 14px;
							margin-top: 0;
						}

					}

					.form-submit {

						input {
							.border-radius(0);
							font-size: 18px;
							outline: none;
							padding: 7px 10px;
						}

					}

				}

			}

		}

	} // div.product

	.related {
		margin: 0;
		padding: 20px 0;
		@media @sm {
			padding: 60px 0 0;
		}
	}

	.related>h2:first-child, .upsells>h2:first-child {
		&:extend(h1 all);
		font-size: 22px;
		font-weight: @strong;
		margin-bottom: 10px;
		@media @sm {

		}
	}

	.sidebar {

	}

}