/*!
Theme Name: Go Batteries
Description: Go Batteries Theme
Author: Auburn
Author URI: www.auburn.co.uk
Template: storefront
Version: 9.9.9 */
@import 'inc/_reset';
@import 'inc/_variables';
@import 'inc/_mixins';
@import 'plugins/_owl-carousel';
@import 'inc/_grid';
@import 'inc/_typography';
@import 'inc/_buttons';
@import 'inc/_lists';
@import 'inc/_header';
@import 'inc/_nav';
@import 'inc/_footer';
@import 'inc/_images';
@import 'inc/_forms';
@import 'inc/_hero';
@import 'inc/_alerts';
@import 'inc/_star-rating';
@import 'inc/_breadcrumbs';
@import 'inc/_battery-lookup';
@import 'inc/_product-loop';
@import 'inc/_manufacturer-carousel';
@import 'inc/_main-content';
@import 'inc/_shopping-cart-widget';
@import 'inc/_pagination';
@import 'inc/_loop-ordering';
@import 'inc/_category-list';
@import 'pages/_homepage';
@import 'pages/_parent-category';
@import 'pages/_child-category';
@import 'pages/_product-detail';
@import 'pages/_contact';
@import 'pages/_cart';
@import 'pages/_checkout';
@import 'pages/_checkout-thankyou';
@import 'pages/_my-account';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
  background: @green;
  color: #fff;
}

::-moz-selection {
  background: @green;
  color: #fff;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.visible-mobile {
	display: inline;
	@media @sm {
		display: none;
	}
}

.visible-desktop {
	display: none;
	@media @sm {
		display: inline;
	}
}

html {
	height: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
}

body {
	color: @body-colour;
	font-family: @font;
	font-size: 14px;
	line-height: 22px;
}

a {
	.transition;
	font-weight: normal;
	outline: none !important;
}

img {
	border-radius: 0;
}