.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews {
	font-size: 16px !important;

	li {
		font-size: 16px !important;
		line-height: 20px !important;

		&:last-child {
			margin: 0;
		}

	}

}

.woocommerce-error {

}

.woocommerce-info  {
	background: @green;
}

.woocommerce-message {
	background: @green;
}

.woocommerce-noreviews {
}