#battery-lookup {
	&:extend(.cf all);
	.border-radius(12px);
	background: @dark-grey;
	color: #fff;
	margin: 0 auto 30px;
	max-width: 330px;
	padding: 20px 15px 15px;
	text-align: center;
	width: 100%;
	@media @sm {
		padding: 30px 25px 25px;
	}
	@media @md {
		margin-bottom: 40px;
	}

	.vehicle-icons {
		display: block;
		height: auto;
		margin: 0 auto 15px;
		max-width: 100%;
	}

	h2 {
		color: #fff;
		font-size: 28px;
		line-height: 1;
		margin: 0 0 20px;					
		text-transform: uppercase;
	}

	p {
		font-size: 13px;
		line-height: 20px;
		margin: 0 0 20px;
		@media @sm {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 35px;
		}
	}

	form {
		.border-radius(4px);
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
		height: 57px;
		@media @sm {
			margin-bottom: 35px;
		}

		.submit {
			.transition;
			background: #474747;
			float: left;
			height: 100%;
			position: relative;
			width: 20%;
			@media @sm {
				width: 50px;
			}

			&:hover {
				background: @green;
			}

			&:before {
				.fa('\f002');
				font-size: 24px;
				position: absolute;
				top: 15px;
				z-index: 1;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				@media @sm {
					.no-vertical-align;
					left: auto;
					right: 14px;
					top: 15px;
				}
			}

		}

		input {
			.border-radius(0);
			box-shadow: none;
			-webkit-appearance: none;
			border: none;
			outline: 0 !important;
			padding: 0;
			text-shadow: none;
		}

		input[type="text"] {
			float: left;
			font-weight: @strong;
			height: 100%;
			height: 57px;		
			text-align: center;						
			text-transform: uppercase;
			width: 80%;
		}
		
		input[type="submit"] {
			background: none;
			height: 100%;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 1;
		}

		// Reg Lookup

		&.reg-number {
			padding-left: 35px;

			&:before {
				background: url('img/battery-lookup/gb-plate.gif') 50% 50%;
				content: '';
				height: 57px;
				left: 0;
				position: absolute;
				top: 0;							
				width: 35px;
			}

			input[type="text"] {
				background: #ecd900 !important;
				color: #000;
				font-size: 26px;
				@media @sm {
					font-size: 30px;
					width: 195px;
				}

				&::-webkit-input-placeholder {
					color: #000;
				}
				&::-moz-placeholder {
					color: #000;
				}
				&:-ms-input-placeholder {
					color: #000;
				}
				&:-moz-placeholder {
					color: #000;
				}

			}

		}

		// VIN Lookup

		&.reg-vin {
			display: none;

			input[type="text"] {
				background: #fff !important;
				color: #000;
				font-size: 24px;
				@media @sm {
					font-size: 28px;
					width: 230px;
				}

				&::-webkit-input-placeholder {
					color: #a9a9a9;
				}
				&::-moz-placeholder {
					color: #a9a9a9;
				}
				&:-ms-input-placeholder {
					color: #a9a9a9;
				}
				&:-moz-placeholder {
					color: #a9a9a9;
				}

			}
			
		}

	}

	.btn {
		float: left;
		font-size: 11px;
		max-width: 130px;
		padding-left: 0;
		padding-right: 0;
		width: 48%;
		@media @sm {
			font-size: 13px;
		}
	
		&.btn-white {
			

			&:hover {
				color: #fff;
			}

		}

		&.by-reg,
		&.by-vin {
			float: right;
		}

		&.by-reg {
			display: none;
		}

	}

}	


// Homepage

.home .hero #battery-lookup {
	position: relative;
	top: 60px;
	z-index: 99;
	left: 50%;
	margin: 0 !important;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	@media @sm {
		.no-vertical-align;
		left: auto;
		padding: 30px 25px 25px;
		position: absolute;
		right: 20px;
		top: 92px;
	}
	@media @md {
		right: 55px;
	}	
}


// Sidebar

.main .sidebar #battery-lookup {

	@media only screen and (min-width: 768px) and (max-width: 991px) {

		h2 {			
			font-size: 26px;
		}

		p {
			margin-bottom: 15px;
		}

		form {
			margin-bottom: 20px;
			
			input[type="text"] {
				font-size: 20px;
				width: 160px;
			}

			.submit {
				width: 35px;

				&:before {
					font-size: 20px;
					right: 8px;
					top: 18px;
				}

			}

		}

		.btn {
			float: none;
			margin: 15px 0 0;
			max-width: none;
			width: 100%;
		
			&.btn-white {
				margin-top: 0;
			}

		}

	}

}