.woocommerce-breadcrumb {	
	color: @body-colour;
	font-size: 13px;
	margin: 20px 0;
	padding: 0;
	@media @sm {
		margin: 20px 0 40px;
	}

	a {
		.transition(.2s);
		border-bottom: 1px solid transparent;
		color: @body-colour;
		text-decoration: none;

		&:first-of-type:before {
			display: none;
		}

		&:hover {
			border-bottom-color: @body-colour;
			color: @body-colour;
		}

	}

}