.btn,
.button,
input[type=submit],
.main p a.btn,
.main p a.button, {
	.transition;
    .border-radius(5px);
    background-image: none;
    background-color: @green;
    box-shadow: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    outline: none;
    padding: 18px 150px;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        background: #333;
        color: #fff;
    }

    &.btn-white {
        background: #fff;
        color: @body-colour;

        &:hover {
            background: @green;
        }

    }

    &.btn-grey {
        background: #808080;
        color: #fff;

        &:hover {
            background: @green;
        }
        
    }

    &.btn-lrg {
        .border-radius(0);
        font-size: 40px;
        font-weight: @strong;
        margin: 20px 0;
        padding: 20px 40px;
    }


}
