.category-list {
	&:extend(.cf all);

	h2 {
		color: @green;
		font-size: 23px;
		margin: 0 0 23px;
		text-align: center;
		text-transform: uppercase;
		@media @sm {
			text-align: left;
		}
	}

	ul {
		&:extend(.unstyled all);
		margin-left: -10px;
		margin-right: -10px;

		li {
			display: block;
			float: left;
			padding: 10px;
			width: 50%;
			@media @sm {
				width: 33.333333%;
			}
			@media @md {
				width: 20%;
			}

			.thumbnail {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				height: 100px;
				position: relative;
				text-align: center;
				@media @sm {
					height: 130px;
				}
				@media @md {
					height: 110px;
				}
				@media @lg {
					height: 120px;
				}
				@media @xlg {
					height: 140px;
				}

				div {
					background: rgba(51, 51, 51, .8);
					bottom: 0;
					color: #fff;
					display: block;
					height: 45px;
					padding: 0 10px;
					position: absolute;
					text-transform: uppercase;
					width: 100%;
					@media @sm {
						padding: 0 10px;
					}

					p {
						.vertical-align;
						font-size: 12px;
						line-height: 1.2;
						@media @sm {
							font-size: 14px;
						}
					}

				}

			}

			.description {
				margin: 10px 0;
			}

			.btn {
				.border-radius(0);
				font-size: 18px;
				padding: 7px 10px;
				@media @sm {
					margin-bottom: 10px;
				}
				@media @lg {
					margin-bottom: 30px;
				}
			}

		}

	}

}