footer#site-footer {
	background: @dark-grey;
	color: #fff;
	padding: 30px 0 0;

	h2, h3, a {
		color: #fff;
	}

	h2, h3 {
		line-height: 1.2;

		a {
			font-weight: @strong;
		}

	}

	h2 {
		font-size: 24px;
		margin-bottom: 15px;
		@media @md {
			margin-bottom: 20px;
		}
	}

	h3 {
		font-size: 24px;
		margin: 20px 0 0;
		@media @sm {
			font-size: 24px;
			margin-top: 0;
			margin: 0 0 10px;
		}
		@media @md {
			font-size: 30px;
		}
	}

	p {
		font-size: 14px;
		line-height: 18px;
	}

	.about {
		@media @sm {
			margin-bottom: 40px;
		}
		@media @md {
			margin-bottom: 0;
		}
	}

	.top-rated-products {
		margin-top: 40px;
		margin-bottom: 20px;
		@media @sm {
			margin-top: 0;
			margin-bottom: 0;
		}

		ul {
			&:extend(.unstyled all);
			&:extend(.cf all);

			li {
				clear: left;
				float: left;
				margin-bottom: 20px;
				min-height: 50px;
				position: relative;

				img {
					float: left;
					// height: 50px;
					height: auto;
					margin: 0 15px 0 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 50px;
				}

				.desc {
					float: left;
					padding-left: 70px;

					p {
						margin: 0;
					}

					.star-rating {
						margin-bottom: 10px;

						.rating {
							display: none;
						}

					}

				}

			}

		}

	}
	
	.bottom-footer {
		background: #fff;
		color: @body-colour;
		margin-top: 30px;
		padding: 25px 0;
		text-align: center;
		@media @sm {
			text-align: left;
			padding: 15px 0;
		}
		@media @md {
			margin-top: 10px;
		}

		p {
			font-size: 11px;
			margin: 0 0 15px;
			@media @sm {
				font-size: 12px;
				float: right;
				margin: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.copyright {
				@media @sm {
					float: left;
				}
			}

		}

		a {
			color: @body-colour;

			&:hover {
				text-decoration: underline;
			}

		}

	}


	// Contact Form

	.gform_wrapper {
		margin: 0;

		.gform_body {
			width: 100%;
		
			ul {
				margin: 0 !important;
				position: relative;
				@media @sm {
					margin: 0 -4px !important;
				}

				li {
					display: block;
					margin: 0;
					max-width: none !important;					
					@media @sm {
						padding: 0 4px;
						width: 50%;
					}

					.ginput_container {
						margin: 0;
					}

					label {
						display: none;
					}

					input, textarea {
						background-color: #989897 !important;
						border: none !important;
						color: #fff;
						font-size: 14px;
						height: 30px;
						line-height: 30px;
						margin: 0 0 10px;
						padding: 0 10px !important;
						width: 100%;
						@media @sm {
							font-size: 12px;
						}

						&::-webkit-input-placeholder {
							color: #fff;
						}
						&::-moz-placeholder {
							color: #fff;
						}
						&:-ms-input-placeholder {
							color: #fff;
						}
						&:-moz-placeholder {
							color: #fff;
						}
					}

					&.question {
						@media @sm {
							position: absolute;
							top: 0;
							right: 0;
						}

						textarea {
							height: 110px;
							padding-top: 10px !important;
							padding-bottom: 10px !important;
						}

					}

					&.gfield_error {

						input, textarea {
							background-color: @error-colour !important;
						}

						.gfield_description {
							color: #fff;
							font-size: 12px;
							font-weight: @medium;
							margin-top: -8px;
						}

					}

				}

			}

		}

		.gform_footer {
			margin: 0;
			padding: 0 4px 0 0;
			width: 50%;

			input[type=submit] {
				.border-radius(0);
				height: 30px;
				line-height: 30px;
				margin: 0;
				padding: 0;
				width: 100%;
				

				&:hover {
					background: #fff;
					color: @body-colour;
				}

			}

		}

	}

	form#test {

		.row {
			margin-left: -4px;
			margin-right: -4px;
		}

		div[class*="col-"] {
			padding-left: 4px;
			padding-right: 4px;
		}

		.form-control {
			background-color: #989897 !important;
			border: none !important;
			color: #fff;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			margin: 0 0 10px;
			@media @sm {
				font-size: 12px;
			}

			&::-webkit-input-placeholder {
				color: #fff;
			}
			&::-moz-placeholder {
				color: #fff;
			}
			&:-ms-input-placeholder {
				color: #fff;
			}
			&:-moz-placeholder {
				color: #fff;
			}
			
		}

		textarea.form-control {
			height: 110px;
		}

		input[type=submit] {
			.border-radius(0);
			height: 30px;
			line-height: 30px;
			padding: 0;
			width: 100%;
			@media @sm {
				position: relative;
				top: -40px;
			}

			&:hover {
				background: #fff;
				color: @body-colour;
			}

		}

	}

}