.input-text,
input[type="text"],
input[type="text"]:focus,
input[type="email"],
input[type="email"]:focus,
input[type="tel"],
input[type="tel"]:focus,
input[type="number"],
input[type="number"]:focus,
input[type="password"],
input[type="password"]:focus,
//.form-control,
.form-control input,
.form-control textarea,
textarea {
	// background-color: #CBCBCB !important;
	background: none;
	background-image: none;
	border: 1px solid @body-colour;
	border-radius: 0 !important;
	color: @body-colour;		
	box-shadow: none !important;
	display: block;	
	font-size: 12px;
	height: 40px;
	line-height: 40px;	
	margin: 0;
	outline: none;
	padding: 0 10px;
	width: 100%;

	&::-webkit-input-placeholder {
		color: @body-colour;
	}
	&::-moz-placeholder {
		color: @body-colour;
	}
	&:-ms-input-placeholder {
		color: @body-colour;
	}
	&:-moz-placeholder {
		color: @body-colour;
	}

}

.input-text,
textarea,
textarea.form-control {
	background: none !important;
	border: 1px solid @body-colour;
	line-height: 1.5 !important;
	padding-top: 10px;
	padding-bottom: 10px;
	resize: none;
}


// Select 2

.select2-container .select2-choice {
	.border-radius(0);
	background-color: #CBCBCB !important;
	border: none;
	font-size: 12px;
	height: 40px;
	line-height: 40px;

	&:hover {
		color: @body-colour;
	}

}

.select2-drop {
	.border-radius(0);
	border-color: #b2b2b2;
}

.select2-search {
	padding: 4px 4px 10px;

	input[type="text"] {
		background: none !important;
		border: 1px solid #b2b2b2;
	}

}

.select2-results {
	background: none;
}


// Validation

.validation_error {
	display: none;
}


.gfield_error {
	background: none !important;
	border: none !important;
	margin: 0 !important;


	.gfield_description {
		margin: 0;
		padding: 0 !important;
	}

}

// Success

.gform_confirmation_message {
	color: @green;
	font-weight: @strong;
	font-size: 18px;
	line-height: 26px;
}


body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
	max-width: 100% !important;
}