header#site-header {

	.top-header {
		background: @green;
		color: #fff;
		padding: 0;
		position: relative;
		z-index: 9;
		@media @sm {
			height: 40px;
			padding: 0;
		}

		a {
			color: #fff;
		}

		ul {
			&:extend(.inline all);
			
			li {
				font-size: 15px;
				line-height: 1;
				@media @sm {
					font-size: 17px;
				}

				.fa {
					font-size: 18px;
					@media @sm {
						font-size: 22px;
					}
				}

			}

		}

		.contact {
			float: left;
			margin-top: 8px;

			li {
				border-right: 1px solid #fff;
				padding: 0 15px;
				@media @sm {
					border: none;
					padding: 0;
				}

				&:last-child {
					border: none;
				}

				.fa {
					@media @sm {
						margin-right: 10px;
						position: relative;
						top: 2px;
					}
				}

				&.tel {
					padding-left: 0;
					@media @sm {
						margin-right: 30px;
					}
					@media @md {
						margin-right: 105px;
					}
				}

				&.email {
					padding-right: 0;

					.fa {
						top: 1px;
					}

				}

			}

		}

		.account {
			float: right;
			margin-top: 10px;

			li {
				border-right: 1px solid #fff;
				line-height: 1;
				padding: 0 10px;

				&:last-child {
					@media @sm {
						border: none;
					}
				}

				span {
					display: none;
					@media @sm {
						display: inline;						
					}
				}

				.fa {
					font-size: 16px;
					margin-left: 7px;
					position: relative;					
					top: -1px;

					&.fa-sign-out, &.fa-sign-in {

						@media @sm {
							display: none;
						}

					
					}

				}

			}

		}

		.social {
			float: right;
			margin: 8px 0 0 0;
			// position: absolute;
			right: 20px;
			@media @sm {
				margin-left: 0;
				position: relative;
				right: auto;
			}

			li {
				border-right: 1px solid #fff;
				padding: 0 10px;
				// margin-left: 12px;
				@media @sm {
					border: none;
					margin-left: 15px;
					padding: 0;
				}

				&:first-child {
					@media @sm {
						padding-left: 0;
					}
				}

				&:last-child {
					border: none;
					padding-right: 0;
				}

				// &:first-child {
				// 	margin-left: 0;
				// }

			}

		}

	}

	.logo {
		display: block;
		margin: 32px auto 25px;
		width: 90%;
		@media @sm {
			float: left;
			margin: 32px 0 32px -5px;
			width: 250px;
		}
		@media @md {
			width: auto;
		}

		img {
			display: block;
			height: auto;
			max-width: 300px;
			width: 100%;
		}

	}

	.tagline {
		display: none;
		@media @sm {
			color: #000;
			float: right;
			font-size: 20px;
			font-weight: @strong;
			line-height: 1;
			margin: 50px 0 20px;
			text-align: left;
		}
		@media @md {
			font-size: 25px;
			margin-top: 55px;
		}

		span {
			color: @green;
			display: inline-block;
			margin: 0 3px;
			@media @sm {
				margin: 0 5px;
			}
		}

	}

}