.hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	@media @sm {
		border-bottom: 10px solid @green;
	}

	> .container {
		height: 250px;
		position: relative;
		@media @sm {
			height: 300px;
		}
		@media @md {
			height: 330px;			
		}
	}

	h1 {
		background: rgba(0,0,0,.5);
		bottom: 20px;
		color: #fff;
		display: inline-block;
		font-size: 26px;
		font-weight: @strong;
		left: 20px;
		line-height: 1.2;
		margin: 0;
		padding: 15px 25px;
		position: absolute;
		@media @sm {
			font-size: 40px;
			padding: 25px 35px;
		}
	}

}