.main {

	.alignleft,
	.alignright {
		display: block;
		float: none;
		margin: 20px auto;
		@media @md {
			max-width: 50%;
		}
		@media @lg {
			max-width: inherit;
		}
	}
	
	.alignright {
		
	}

	.alignleft {
		@media @md {
			float: left;
			margin: 0 30px 30px 0;
		}
	}

	.alignright {
		@media @md {
			float: right;
			margin: 0 0 30px 30px;
		}
	}


}