// Unstyled list
.unstyled {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}
	
}

// In-line list
.inline {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		font-size: 16px;
		margin: 0;
		padding: 0;
	}
	
}


// Main UL and OL Lists
.main ul,
.main ol {

	li {
		font-size: 16px;
		margin: 0 0 15px;
		line-height: 1.5;
		margin: 0 0 15px;
		@media @sm {
			font-size: 22px;
			line-height: 30px;
		}
	
		ul, ol {
			margin-top: 15px;
		}

	}

}