.storefront-sorting {
	@media @sm {
		padding-left: 15px;
	}

	.woocommerce-ordering {
		margin: 0 0 15px;
		padding: 0;
		width: 100%;
		@media @sm {
			margin: 0 25px 0 0;
			// width: 120px;
			width: 160px;
		}

		select {
			border: 1px solid @body-colour;
			outline: none !important;
			height: 26px;
			width: 100%;
		}

	}

	.woocommerce-result-count {
		font-size: 14px;
		margin: 0;
		padding: 0;
		@media @sm {
			font-size: 12px;
			margin: 0 45px 0 0;
		}
	}

	.woocommerce-pagination {
		float: left;
		margin: 10px 0;
		@media @sm {
			margin: 0;
		}

		.page-numbers {

			li {
				float: left;
				font-size: 13px;
				line-height: 1;
				margin: 0 5px 0 0;
				padding: 0;
				@media @sm {
					font-size: 12px;
					margin: 0 0 0 3px;
				}

				.page-numbers {
					background: #e5e5e5;
					border: none;
					height: 30px;
					line-height: 30px;
					margin: 0;
					padding: 0;
					width: 30px;
					@media @sm {
						height: 25px;
						line-height: 25px;
						width: 25px;
					}

					&.current {
						background: #333;
					}

				}

				a:hover {
					background: @green;
					color: #fff;
				}

			}

		}

	}

}