.main {
	padding-bottom: 40px;

	p a:hover {
		color: @green;
	}

	&.no-breadcrumbs {
		padding-top: 82px;
	}

	h1 {
		font-size: 25px;
		font-weight: @strong;
		line-height: 35px;
		margin: 0 0 20px;
		@media @sm {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 30px;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: @medium;
		line-height: 24px;
		margin: 0;
		@media @sm {
			font-size: 23px;
			line-height: 30px;
		}
	}

	h3 {
		font-size: 18px;
		line-height: 24px;
		@media @sm {
			font-size: 24px;
			line-height: 32px;
		}
	}

	.main-col {		
		@media @sm {
			float: left;
			padding-right: 20px;
			width: 440px;
		}
		@media @md {
			padding-right: 30px;
			width: 600px;
		}
		@media @lg {
			// width: 810px;
			width: 750px;
		}
		@media @xlg {
			// width: 920px;
			width: 880px;
		}
	}

	.sidebar {
		padding-left: 10px;
		padding-right: 10px;
		@media @sm {
			float: right;
			margin-top: -40px;
			padding: 0;
			width: 280px;
		}
		@media @md {
			width: 330px;
		}
		@media @lg {
			width: 370px;
		}

		.product-categories {
			padding: 0 20px;
			@media @sm {
				padding: 0 30px;
			}
			@media @lg {
				padding: 0 50px;
			}

			.child-categories {
				&:extend(.unstyled all);
				margin: 15px 0 0;
				padding-left: 30px;
				@media @sm {
					margin-top: 20px;
					padding-left: 40px;
				}

				li {
					margin-bottom: 5px;
					position: relative;
					@media @sm {
						margin-bottom: 10px;
					}

					&:before {
						.fa('\f07b');
						color: @green;
						font-size: 20px;
						left: -30px;
						position: absolute;
						top: 1px;
						@media @sm {
							font-size: 26px;
							left: -40px;
						}
					}

					a {

						&:hover {
							color: @green;
						}

					}

				}

			}

		}

	}

}