.manufacturers {
	border-top: 5px solid #e5e5e5;
	padding-top: 35px;
	padding-bottom: 35px;

	.container {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		@media @sm {
			padding-left: 20px;
			padding-right: 20px;
		}
		@media @md {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.owl-item {
		padding: 0 10px;
	}

	.owlnav {
		margin-top: -8px;
		position: absolute;
		top: 50%;
		width: 100%;

		.container {
			position: relative;
			z-index: 2;
		}

		.prev,
		.next {
			.transition;
			.opacity(25);
			cursor: pointer;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;

			&:hover {
				.opacity(50);
			}

		}

		.prev {
			float: left;
			border-width: 8px 16px 8px 0;
			border-color: transparent #000 transparent transparent;
			margin-left: -18px;
			@media @sm {
				margin-left: -20px;
			}
			@media @lg {
				margin-left: -36px;
			}
		}

		.next {
			float: right;
			border-width: 8px 0 8px 16px;
			border-color: transparent transparent transparent #000;
			margin-right: 42px;
			@media @sm {
				margin-right: 20px;
			}
			@media @lg {
				margin-right: -26px;
			}
		}

	}

}