// Media Queries
.mq(@minWidth; @rules) {
    @media only screen and (min-width: @minWidth) {
        @rules();
    }
}


// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
    behavior: url(/assets/PIE.htc);
}


// Box Shadow
.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}


// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}



// Transition
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.transition(@duration: .35s) {
  -webkit-transition: all @duration ease;
  -moz-transition: all @duration ease;
  transition: all @duration ease;
}


// Vertical align
.no-vertical-align {
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.vertical-align(@position: relative) {
  position: @position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Font Awesome

.fa(@content) {
  content: @content;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}