header .nav-wrap {
	background: @dark-grey;
	height: 50px;
	position: relative;

	// Search Toggle
	.search-toggle {
		color: #fff;
		float: left;
		font-size: 23px;
		margin: 13px 15px 0 0;
		@media @md {
			display: none;
		}
	}

	// Nav Toggle
	.nav-toggle {
		color: #fff;
		float: right;
		font-weight: @medium;
		margin-top: 5px;
		@media @md {
			display: none;
		}

		.fa {
			font-size: 30px;
			margin-left: 10px;
			position: relative;
			top: 6px;
		}

	}
	
	// Main Site Navigation  
	nav {
		display: none;
		background: #333;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		z-index: 999;
		@media @md {
			display: block !important;
			float: left;		
			margin-left: -17px;
			top: auto;
			position: relative;
			width: auto;
		}
		@media @lg {
			margin-left: -25px;
		}

		ul {
			&:extend(.inline all);

			li {
				background: #4d4d4d;
				border-bottom: 2px solid @green;
				display: block;
				position: relative;
				@media @md {
					background: none;
					border: none;
					float: left;
					line-height: 1;
				}

				&:last-child {
					border: none;
				}

				&.has-dropdown {

					a {
						padding-right: 30px;
						@media @lg {
							padding-right: 40px;
						}

					}

					span {
						height: 100%;
						width: 40px;
						position: absolute;
						text-align: center;
						top: 0;
						right: 0;
						@media @md {
							height: auto;
							right: 11px;
							top: 18px;
							width: auto;
						}

						&:after {
							// .transition;
							.fa('\f105');
							color: #fff;
							font-size: 24px;
							position: relative;
							top: 12px;
							// position: absolute;
							// right: 7px;
							// top: 13px;
							@media @md {
								.fa('\f107');
								top: auto;
							}
							// @media @lg {
							// 	right: 13px;
							// }
						}

						&:hover:after {
							color: @green;
						}
					}

					&:hover ul {
						@media @md {
							display: block;
						}
					}

					li a:after {
						display: none;
					}

					&.open span:after {
						.fa('\f107');
						color: #fff;
						font-size: 24px;
						left: -2px;
						position: relative;
						top: 12px;	
						@media @md {
							.fa('\f107');
							top: auto;
							left: auto;
						}
					}

				}

				a {
					.transition;
					color: #fff;
					display: block;
					font-size: 15px;
					font-weight: @strong;
					line-height: 50px;
					padding: 0 17px;
					position: relative;
					height: 50px;
					@media @lg {
						font-size: 17px;
						padding: 0 25px;
					}

					&:hover {
						color: @green;
					}

				}

				ul {					
					display: none;
					padding: 0;
					@media @md {
						background: rgba(51,51,51,.95);
						padding: 0;
						position: absolute;
						top: 50px;
						z-index: 9;
						width: 230px;
					}

					li {
						background: #343434;
						border: none;
						float: none;
						width: 100%;
						@media @md {
							background: none;
						}

						&:first-child {
							padding-top: 10px;
							@media @md {
								padding-top: 0;
							}
						}

						&:last-child {
							padding-bottom: 10px;
							@media @md {
								padding-bottom: 0;
							}
						}
	
						a {
							color: #fff;
							padding: 7px 10px 7px 25px !important;
							height: auto;
							line-height: 1.2;
							@media @md {
								padding: 10px 10px 10px 25px !important;
							}

							&:hover {
								background: @green;
								color: @body-colour;
							}

						}

					}

				}

			}

		}

	}

	// Search
	.widget_product_search {
		background: #fff;
		display: none;
		left: 0;
		margin: 0;
		padding: 0 0 2px;
		position: absolute;
		top: 50px;
		width: 100%;
		z-index: 99;
		@media @md {
			display: block;
			left: auto;
			padding: 0;
			position: relative;
			top: auto;
			width: auto;
		}
	}

	#searchform {
		margin: 0;
		@media @md {
			float: right;
			margin: 10px 20px 0 0;
			width: 180px;
		}

		&:before {
			color: #fff;
			left: 15px;
			top: 13px;
			@media @md {
				left: 8px;
				top: 8px;
			}
		}

		.search-field {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background-color: #989897 !important;
			border: none !important;
			border-radius: 0;
			color: #fff;
			font-size: 12px;
			height: 40px;
			line-height: 40px;
			padding: 0 0 0 35px;
			width: 100%;
			@media @sm {
				height: 30px;
				padding-left: 30px;
			}

			&::-webkit-input-placeholder {
				color: #fff;
			}
			&::-moz-placeholder {
				color: #fff;
			}
			&:-ms-input-placeholder {
				color: #fff;
			}
			&:-moz-placeholder {
				color: #fff;
			}

		}

		#searchsubmit  {
			background: none;
			border: none;
			box-shadow: none;
			clip: auto;
			height: 100%;
			outline: none !important;
			padding: 0;
			text-indent: -9999em;
			width: 25px;
		}

	}

	// Cart
	#site-header-cart {
		margin: 12px 10px 0 0;
		float: left;
		@media @md {
			float: right;
			margin: 10px 0 0;
		}

		.cart-contents {
			display: 	block;
			padding: 0;
			position: relative;

			&:after {
				.fa('\f07a');
				color: #fff;
				font-size: 28px;
				@media @md {
					font-size: 30px;
				}
			}

			span {
				.opacity(100);
				margin: 0;
				padding: 0;
			}

			.amount {
				display: none;
			}

			.count {
				.border-radius(50%);
				background: @green;
				border: 2px solid #fff;
				color: #fff;
				font-size: 11px;
				height: 18px;
				line-height: 1.2;
				overflow: hidden;
				position: absolute;
				right: -10px;
				text-align: center;				
				top: -5px;				
				width: 18px;
				z-index: 1;
				@media @md {
					font-size: 14px;
					height: 20px;
					line-height: 1.1;
					width: 20px;
				}
			}

		}

		.widget_shopping_cart {			
			display: none;
			@media @sm {
				border-bottom: 4px solid @green;
				display: block;
				margin-left: -373px;
				padding-top: 10px;
				width: 400px;
			}

			.widget_shopping_cart_content {
				background: #fff;
				padding: 25px;
			}

			p.total {
				border-color: #d1d1d1;
			}

			p.buttons {
				margin: 0;
				padding: 0;
			}

			.button {
				.border-radius(0);
				display: block;
				font-size: 18px;
				line-height: 1;
				margin-bottom: 10px;
				padding: 4px 0 10px 0;
				width: 100%;
				@media @sm {
					// font-size: 22px;
					// padding: 15px 0;
				}

				&:after {
					font-size: 24px;
					top: 4px;
					position: relative;
					@media @sm {
						font-size: 28px;
					}
				}

				&.checkout {
					background: #333;
			        color: #fff;
			        margin-bottom: 0;

			        &:hover {
			            background: @green;
			        }

				}

			}

		// 	.mini_cart_item {
		// 		font-size: 14px;

		// 		.remove {
		// 			margin-left: -20px;
		// 		}

		// 		a {
		// 			font-weight: @strong;
		// 		}

		// 	}

		// 	.empty, .total {
		// 		font-size: 16px;
		// 	}

		// 	.empty {
		// 		padding-top: 0;
		// 	}

		}

	}

}