ul.products {
	margin: 0 -10px 30px;
	@media @sm {
		margin: 0 -15px 0;
	}

	li.product {
		float: left;
		margin: 0;
		padding: 10px;
		width: 50%;

		&.first {
			clear: none !important;
		}

		&:nth-child(2n+1) {
			clear: left;
		}

		@media @md {
			padding: 15px;
			width: 25%;

			&:nth-child(2n+1) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: left;
			}

		}

		.star-rating {
			display: none;
		}

		img {
			display: block;
			height: auto;
			margin: 0;
			width: 100%;
		}

		h3 {
			font-size: 12px;
			line-height: 1.4;
			margin: 15px 0 5px;
		}

		.onsale {
			display: none;
		}

		.price {
			font-size: 13px;
			font-weight: @strong;
			line-height: 1;
			margin: 0;
		}

		.button {
			.border-radius(0);
			margin: 10px 0 0;
			padding: 5px 10px 6px;
		}

	}

}