.cart_list.product_list_widget {			

	.mini_cart_item {
		border-color: #d1d1d1;
		font-size: 14px;

		.remove {
			margin-left: -20px;
		}

		a {
			font-weight: @strong;
		}

	}

	.empty, .total {
		font-size: 16px;
	}

	.empty {
		padding-top: 0;
	}

}