.star-rating {
	font-size: 14px !important;
	width: 95px !important;
	
	&:before {
		letter-spacing: 5px !important;
	}

	span {

		&:before {
			color: @green;
			letter-spacing: 5px !important;
		}

	}

}