h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 100%;
	letter-spacing: normal;
	margin: 0;

	a {
		font-weight: normal;
	}

}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
	margin: 0;
}

h2+h3 {
	border: 0;
	margin: 0;
	padding: 0;
}

strong {
	font-weight: @strong;
}

h1 {

}

h2 {
	font-weight: @strong;
}

h3 {
	border: none;
	font-weight: @strong;
	margin: 0;	
}

p {
	// font-size: 14px;
	// line-height: 18px;
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 22px;
	@media @sm {
		font-size: 18px;
		line-height: 24px;
	}
	// @media @md {
	// 	font-size: 20px;
	// 	line-height: 26px;
	// }

	&.headline {		
		font-size: 20px;
		font-weight: @medium;
		line-height: 26px;
		@media @sm {
			font-size: 24px;
			line-height: 30px;
		}
		@media @md {			
			font-size: 28px;
			line-height: 34px;
		}
	}

	&.large {
		font-size: 20px;
		font-weight: @medium;
		line-height: 30px;
		@media @sm {
			font-size: 24px;
			line-height: 34px;
		}

		a {
			font-weight: @medium;
		}

	}

	// &.subheadline {
	// 	font-size: 16px;
	// 	line-height: 22px;
	// 	@media @sm {
	// 		font-size: 18px;
	// 		line-height: 24px;
	// 	}
	// 	@media @md {
	// 		font-size: 20px;
	// 		line-height: 26px;
	// 	}
	// }

}