// MQ Breakpoitns

@sm: ~"only screen and (min-width: 768px)";
@md: ~"only screen and (min-width: 992px)";
@lg: ~"only screen and (min-width: 1281px)";
@xlg: ~"only screen and (min-width: 1500px)";
@full: ~"only screen and (min-width: 1921px)";

// Colours

@green: #92BF1F;
@dark-grey: #333;


// Typography

@font: 'Roboto', sans-serif;
@medium: 500;
@strong: 700;


// Setup

@mobile-grid-padding: 15px;
@desktop-grid-padding: 15px;
@body-colour: #333;


// Layout

@wrap-bg-colour: #fff;


// Forms

@error-colour: #bf7777;