body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 100%;
	letter-spacing: normal;
	margin: 0;
}

h1 {	
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 0 30px;
}

p {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px;
}

p.headline {
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
}

.btn {
	background-image: none;
    background-color: @green;
    box-shadow: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    outline: none;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-grey {
	background: #808080;
    color: #fff;
}

.btn-lrg {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
    padding: 20px 40px;
}